@{
    ViewBag.Title = "Home Page";
}

<div class="form-horizontal">

    <div class="row">
        <div class="card">
            <div class="card-body">
                <br />
                <br />
                <br />
                <center><h1>Welcome to online bus booking system</h1></center>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
    </div>
